.progress_container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#loading_progressbar.ui-widget-content {
   height: 10px;
}

#loading_progressbar > .ui-widget-header {
   background: orange;
   border: none !important;
}
