.progress_container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#loading_progressbar.ui-widget-content {
   height: 10px;
}

#loading_progressbar > .ui-widget-header {
   background: orange;
   border: none !important;
}

.tabby_loader_settings .menu_button {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

